@font-face {
  font-family: "Cosmic Alien";
  src: url("ca-webfont.woff2") format("woff2"),
    url("ca-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Cosmic Alien", sans-serif;
  background-color: #000;
  color: #fff;
  overflow: hidden;
}

#game-container {
  position: relative;
  width: 100vw;
  height: 55vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
  margin-bottom: 5vh;
}

canvas {
  display: none;
  border: 2px solid #fff;
}

#game-over-screen {
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  height: 101%;
  background-color: rgba(0, 0, 0, 0.5);
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#text-container {
  width: 100vw;
}

#text-container h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5vh;
  font-size: 4vw;
}

#game-over-screen h1 {
  font-size: 5vh;
  margin: 0 auto;
}

#game-over-screen p {
    font-size: 3vh;
}

#start-button,
#restart-button {
  padding: 2vh 3vw;
  font-size: 2vh;
  font-family: "Cosmic Alien";
  background-color: rgb(0, 223, 0);
  color: #fff;
  border: none;
  cursor: pointer;
}

#score-display {
  display: none;
  position: absolute;
  top: 3vh;
  right: 4vw;
  font-size: 1.2vw;
}

#pause {
    display: none;
    justify-content: center;
}
